{{ header|default(ansible_managed|comment('xml')) }}
{%- for tag,content in schema|dictsort -%}
{%-   for line in ''|to_xml(tag, value[tag]|default([]), content, 0, spaces|default(2)) %}
{{ line }}
{%-   endfor -%}
{%- endfor -%}
